

// cor principal, usada no fundo do menu e nos títulos
$primary-color: #d95a49

// cor mais escura, usada nas bordas do menu
$secondary-color: #b24538

$texts-color: #878787


$menu-height: 142px


/* bootstrap vars*/

/* $modal-lg: 1200px */

$border-radius-base:  0
$border-radius-large: 0
$border-radius-small: 0
