

ul.nav {
	list-style: none;
	padding: 0;
}

	ul.nav li { float: left; }

#main-menu { 
	width: 100%;
}
	
	#main-menu .logo {
		display: block;
		margin: 20px;
	}

	#main-menu .menu-container {
		width: 100%;
		background-color: #d95a49;
		border-bottom: 2px solid #b24538;
	}	

		#main-menu ul.nav {
			border-left: 2px solid #b24538;
			width: 640px;
			margin: 0 auto;
			height: 40px;
		}

			#main-menu ul.nav li {
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				border-right: 2px solid #b24538;
			}

				#main-menu ul.nav li a {
					color: #FFFFFF;
					text-decoration: none;
					display: block;
					height: 27px;
					padding: 13px 16px 0;
				}
				#main-menu ul.nav li a:hover {
					background-color: #b24538;
				}


#main_container {
	margin: 0 auto;
	width: 1008px;	
}

	h1 { 
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		font-size: 30px;
		color: #878787;
		text-align: center;
		margin-top: 40px;
	}