

ul.nav {
	font-family: 'Montserrat', sans-serif;
	list-style: none;
	padding: 0;
}

	ul.nav li { float: left; }

#main-menu { 
	width: 100%;
}
	
	#main-menu .logo {
		display: block;
		margin: 20px;
	}

	#main-menu .menu-container {
		width: 100%;
		background-color: #d95a49;
		border-bottom: 2px solid #b24538;
	}	

		#main-menu ul.nav {
			margin: 0 auto;
			border-left: 2px solid #b24538;
			width: 640px;
			height: 40px;
		}

			#main-menu ul.nav li {
				font-size: 12px;
				text-transform: uppercase;
				border-right: 2px solid #b24538;
			}

				#main-menu ul.nav li a {
					color: #FFFFFF;
					text-decoration: none;
					display: block;
					height: 27px;
					padding: 13px 16px 0;
				}
				#main-menu ul.nav li a:hover {
					background-color: #b24538;
				}
