

ul.nav {
	list-style: none;
	padding: 0;
}

	ul.nav li { float: left; }

#main-menu { 
	width: 100%;
}
	
	#main-menu .logo {
		display: block;
		margin: 20px;
	}

	#main-menu .menu-container {
		width: 100%;
		background-color: #d95a49;
		border-bottom: 2px solid #b24538;
	}	

		#main-menu ul.nav {
			border-left: 2px solid #b24538;
			width: 625px;
			margin: 0 auto;
			height: 40px;
		}

			#main-menu ul.nav li {
				font-family: 'Montserrat', sans-serif;
				font-size: 12px;
				text-transform: uppercase;
				border-right: 2px solid #b24538;
			}

				#main-menu ul.nav li a {
					color: #FFFFFF;
					text-decoration: none;
					display: block;
					height: 27px;
					padding: 13px 16px 0;
				}
				#main-menu ul.nav li a:hover {
					background-color: #b24538;
				}

				#main-menu li.newsfeed img { vertical-align: text-top; }


#main_container {
	margin: 0 auto;
	width: 1008px;	
}

	div.section {
		padding: 40px;
	}


	h2 {
		display: block;
		width: 170px;
		padding: 15px;
		text-align: center;
		margin: 20px auto;
		font-family: 'Montserrat', sans-serif;
		font-size: 30px;
		color: #d95a49;
		border: 4px solid #d95a49;
	}

	h3 { 
		font-family: 'Montserrat', sans-serif;
		font-weight: normal;
		font-size: 22px;
		color: #878787;
		text-align: center;
		margin-top: 40px;
	}

	/* HOME */

	div.home {
		padding-top: 0;
	}

	div.home h3 {
		font-size: 30px;
	}

	a#home-arrow-dn {
		display: block;
		width: 34px;
		margin: 0 auto;
	}

	/* PROJECTS */

	div#section-projects {
		background-color: #ebebeb;
		border-bottom: 5px solid #cecece;
	}

		div.project {
			width: 276px;
			float: left;
			margin: 0 15px;
		}

			div.project-image {
				background-color: #FFFFFF;
				padding: 8px
			}

			.project h4 {
				text-align: center;
				margin-top: 15px;
				color: #878787;
				font-family: 'Montserrat', sans-serif;
				font-weight: normal;
				font-size: 18px;
			}

	/* CLIENTS */

	div#section-clients div.clients { width: 790px; margin: 20px auto 0; }
	div#section-clients img.client { margin: 25px 0; }