

html * { 
	font-family: 'Montserrat', sans-serif;
	color: #878787;
	font-size: 16px;
}


ul.nav { list-style: none; padding: 0; }
	ul.nav li { float: left; }

h2 {
	display: block;
	width: 170px;
	padding: 15px;
	text-align: center;
	margin: 20px auto;
	font-size: 30px;
	color: #d95a49;
	border: 4px solid #d95a49;
}

h3 { 
	font-weight: normal;
	font-size: 22px;
	text-align: center;
	margin-top: 40px;
}

#main-menu { width: 100%; background-color: #FFFFFF; z-index: 999; }
	
	#main-menu .logo { display: block; margin: 20px; }

	#main-menu .menu-container { 
		width: 100%;
		background-color: #d95a49;
		border-bottom: 2px solid #b24538;
	}	

		#main-menu ul.nav {
			border-left: 2px solid #b24538;
			width: 628px;
			margin: 0 auto;
			height: 40px;
		}

			#main-menu ul.nav li { text-transform: uppercase; border-right: 2px solid #b24538; }

				#main-menu ul.nav li a {
					color: #FFFFFF;
					font-size: 12px;
					text-decoration: none;
					display: block;
					height: 27px;
					padding: 13px 16px 0;
					position: static;
				}

				#main-menu ul.nav li a:hover { background-color: #b24538 !important; }

				#main-menu li.newsfeed img { vertical-align: text-top; }


#main_container { margin: 0 auto; width: 1008px; }

	#section-home { height: 540px; padding-top: 0 !important; }
	#section-projects { height: 440px; }
	#section-clients { height: 420px; }
	#section-timeline { height: 500px; }
	#section-contacts { height: 500px; }

	#main_container section.section { padding: 40px; margin-top: 142px; min-width: 918px; }

	section.section-gray { background-color: #ebebeb; border-bottom: 5px solid #cecece; }


	/* HOME */

	div.home { padding-top: 0; }

	div.home h3 { font-size: 30px; }

	div.megabanner img { margin-left: -40px; }

	a#home-arrow-dn {
		display: block;
		width: 34px;
		margin: 0 auto;
	}


	/* PROJECTS */

	div.project {
		width: 276px;
		float: left;
		margin: 0 15px;
	}

		div.project-image { background-color: #FFFFFF; padding: 8px }

		.project h4 {
			text-align: center;
			margin-top: 15px;
			font-weight: normal;
			font-size: 18px;
		}

		div.project a { text-decoration: none; }
		div.project a:hover { text-decoration: underline; }


	/* CLIENTS */

	section#section-clients div.clients { width: 790px; margin: 20px auto 0; }
	section#section-clients img.client { margin: 25px 0; }


	/* TIMELINE */

	section#section-timeline h2 { width: 250px; }

	ul.timeline { 
		list-style: none; 
		background-image: url(../img/timeline/timeline_line.gif);
		background-repeat: repeat-y;
		background-position: center;
		width: 890px;
		margin: 0 auto;
		padding: 0;
	}

		ul.timeline li { 
			background-image: url(../img/timeline/bullet.png);
			background-repeat: no-repeat;
			background-position: center 35px;
			height: 100px;
		}

			ul.timeline li div.year { width: 445px; } 
			ul.timeline li.year-left div.year { text-align: right; float: left; }
			ul.timeline li.year-right div.year { text-align: left; float: right; }
			ul.timeline li div.year span { display: block; padding: 31px 30px 0; font-size: 18px; }

			ul.timeline li div.description { position: absolute !important; overflow: hidden; }
			ul.timeline li.year-left div.description { left: 50%; margin-left: 20px; }
			ul.timeline li.year-right div.description { right: 50%; margin-right: 20px; }
			ul.timeline li div.description div.description-container {
				background-color: #FFFFFF;
				width: 335px;
				padding: 20px 35px;
				border-bottom: 3px solid #b2b2b2;
				text-align: left;
				font-size: 16px;
				color: #aeaeae;
			}
			ul.timeline li.year-left div.description-container { float: left; }
			ul.timeline li.year-right div.description-container { float: right; }
			ul.timeline li.year-left div.d-arrow {
				background-image: url("../img/timeline/arrow_left.png");
				background-repeat: no-repeat;
				float: left;
				height: 29px;
				margin-top: 30px;
				width: 16px;
			}
			ul.timeline li.year-right div.d-arrow {
				background-image: url("../img/timeline/arrow_right.png");
				background-repeat: no-repeat;
				float: right;
				height: 29px;
				margin-top: 30px;
				width: 16px;
			}


	/* CONTACT */

	div.contact div.col-md-6 { width: 350px; padding: 30px 0 30px 30px; margin-right: 150px; margin-top: 30px; float: left; }
	div.contact div.last { margin-right: 0px;  }
	div.contact p { margin-bottom: 35px; font-size: 21px; margin-top: 10px; }
	div.contact p a { text-decoration: none; }
	div.contact p a:hover { text-decoration: underline; }


	/* FOOTER */

	footer { 
		width: 100%;
		background-color: #d95a49;
		border-bottom: 2px solid #b24538;
		height: 71px; 
	}

		footer a {
		    color: #FFFFFF;
		    display: block;
		    font-size: 18px;
		    margin-top: 25px;
		    text-decoration: none;
		    text-align: center;
   		}





