
/* CLIENTS */

section#section-clients {
    div.clients {
        width: 80%;
        margin: 20px auto 0;
        div.client {
        	margin: 25px 0;
        	height: 100px;
        	text-align: center;
        	@media(max-width: $screen-sm-min) {
        		width: 120px;
        		margin: 15px 10px;
        	}
        }

        div.client img {
            @media(max-width: $screen-sm-min) {
                max-width:120px;
            }
        }
    }
}
