

.inner-content {
	.company {
		margin-top: 35px;
	}
	.structure {
		margin-top: 35px;

		h3 {
			text-align: left;
		}

		.slidesjs-navigation {
		    margin-top: 0;
		    top: 380px;
		}
		    
		.slidesjs-previous {
	    	left: 10px;
		}
		.slidesjs-next {
		    right: 10px;
		}
	}
}

#structure_slides {
	height: 300px;
	overflow: hidden;
}



/* TIMELINE */

#section-timeline h2 {
	width: 280px;
}

#timeline-container {
	max-height: 450px;
	overflow: hidden;
	body.mobile & {
		max-height: inherit;
	}
}



ul.timeline {
	list-style: none;
	background-image: url(../img/timeline/timeline_line.gif);
	background-repeat: repeat-y;
	background-position: center;
	width: 890px;
	margin: 0 auto;
	padding: 0 0 120px;
	position: relative !important;
	li {
		@include bg-norepeat("timeline/bullet.png", center 35px);
		height: 75px;
		div.year {
			width: 445px;
			span {
				display: block;
				padding: 31px 30px 0;
				font-size: 18px;
			}			
		}
		div.description {
			position: absolute !important;
			overflow: hidden;
			div.description-container {
				background-color: #FFFFFF;
				width: 430px;
				padding: 20px 35px;
				border-bottom: 3px solid #b2b2b2;
				text-align: left;
				font-size: 16px;
				color: #aeaeae;
			}
		}
		div.d-arrow {
			height: 29px;
			margin-top: 30px;
			width: 16px;
			position: absolute;
			
		}
		&.year-left {
			div.year {
				text-align: right;
				float: left;
			}
			div.description {
				left: 50%;
				margin-left: 20px;
			}
			div.description-container {
				float: left;
				margin-left: 15px;
			}
			div.d-arrow {
				@include bg-norepeat("timeline/arrow_left.png");
			}
		}
		&.year-right {
			div.year {
				text-align: left;
				float: right;
			}
			div.description {
				right: 50%;
				margin-right: 20px;
			}
			div.description-container {
				float: right;
				margin-right: 15px;
			}
			div.d-arrow {
				@include bg-norepeat("timeline/arrow_right.png");
				right: 0;
			}
		}

	}
}

