
// cor principal, usada no fundo do menu e nos títulos
$primary-color: #d95a49;

// cor mais escura, usada nas bordas do menu
$secondary-color: #b24538;

$texts-color: #878787;

$menu-height: 142px !default;

$screen-sm-height: 700px;

/* bootstrap vars*/


$border-radius-base:  0;
$border-radius-large: 0;
$border-radius-small: 0;

$modal-lg: 1170px;
$modal-md: 900px;


@mixin bg-norepeat($img, $position: left top) {
	background: {
		image: url(../img/#{$img});
		repeat: no-repeat;
		position: $position;
	}
}


@mixin vv-hide-text($width, $height) {
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	display: block;
	width: $width;
	height: $height;
}
