
html * {
    font-family: "Montserrat", sans-serif;
    color: $texts-color;
    font-size: 16px;
}

.center-align {
    margin:auto;   
}

body {
    overflow: hidden;
    &.mobile {
        height: auto;
    }
}

ul.nav {
    list-style: none;
    padding: 0;
    li {
        float: left;
    }
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index: $zindex-modal + 1;

    #status {
        width:200px;
        height:200px;
        position:absolute;
        left:50%; /* centers the loading animation horizontally one the screen */
        top:50%; /* centers the loading animation vertically one the screen */
        background-image:url(../img/status.gif); /* path to your loading animation */
        background-repeat:no-repeat;
        background-position:center;
        margin:-100px 0 0 -100px; /* is width and height divided by two */
    }
}

.intro-container {
    padding-top:30px;
    padding-bottom:30px;
    width:80%;
    margin:auto;

}

#supercontainer {

    float:left;
}
#project-title-open {
    font-size:22px;
    color:#878787;
    float:left;

}

#project-location-open {
    color: #bdbdbd !important;
    float:left;

}

#project-description-open {
    color: #bdbdbd !important;
    float:left;
    padding-top:10px;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;

}


#project-technology-open  {
    color: #bdbdbd !important;
    float:left;

    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
}

.close-project {
    width:100%;
    float:left;
    cursor: pointer;

}

.close-project img {
    float:right;
    margin-right:10px;
    margin-top:10px;


}

.fix {
    float:right;
}


#project-slides-container {
    float:left;
}

.project-slides {
    float:left;
    
    background: #ebebeb;
}

.project-modal {
    display:none;
    width:100%;
    position:fixed;
    background: white;  
    z-index:10000;


}

.project-modal-open {
    display:block;
}

.project-modal-close {
    display:none;
}

.project-content {
    float:left;
    color: white !important;    
}


.arrow-project {
    width:40px;
    position:relative;
    margin-top: -22px;

}

.project-title {
    text-align:center;
    padding-top:5px;
}

.project-location {
    color: #bdbdbd !important;
    text-align:center;
    padding-bottom:15px;
    font-size:12px;

}

#main-menu {
    position:fixed;
    width: 100%;
    background-color: #f4f4f4;
    z-index: $zindex-modal - 1;
    border: none;
    .logo {
        display: block;
        margin: 20px;
        width: 300px;
        float: left;
        @media(max-height: $screen-sm-height) {
            /*margin: 10px 20px;*/
        }
        @media(max-width: $screen-sm-min) {
            width: 145px;
            /* margin: 20px 8px 10px; */
            img {
                width: 145px;
            }            
        }
    }
    .language-btn {
        position:absolute;
        top:30px;
        right: 30px;

        /*margin: 35px 30px 0 0;*/
        border: 2px solid $primary-color;
        padding: 8px;
        font-size: 10px;
        text-transform: uppercase;
        color: $primary-color;

        &:hover {
            background-color: $primary-color;
            color: #FFFFFF;
            text-decoration: none;
        }

        @media(max-height: $screen-sm-height) {
            /*margin: 20px 10px;*/
            right:300px;
            top:19px;
        }

        @media(max-width: $screen-sm-min) {
            margin:0 !important;
            position:absolute;
            right:81px;
            top:19px;
        }
    }
    .menu-container {
        width: 100%;
        background-color: $primary-color;
        border-bottom: 2px solid $secondary-color;
    }

    .navbar-header {
    
    }
    .navbar-toggle {

        margin:0 !important;
        position:absolute;
        right:25px;
        top:19px;
        background: $primary-color;

        /*margin-top: 25px;*/
    }
    ul.nav {
        border-left: 2px solid $secondary-color;
        width: 642px;
        margin: 0 auto;
        height: 40px;
        position: relative;
        z-index: 2;
        float: none;
        li {
            text-transform: uppercase;
            border-right: 2px solid $secondary-color;
            a {
                color: white;
                font-size: 12px;
                text-decoration: none;
                display: block;
                height: 40px;
                padding: 13px 16px 0;
                position: static;
            }
        }
    }
    li.newsfeed img{
        vertical-align: text-top;
    }

    .in, .collapsing {
        width: 100%;
        height: auto;
        ul {
            width: 100%;
            height: auto;
            border: none !important;
        }
        li {
            width: 100%;
            border: none !important;
            a:hover, a.active {
                background-color: $secondary-color;
            }
        }
        #menu_marker {
            display: none !important;
        }
    }
}


#menu_marker {
    background-color: $secondary-color;
    height: 40px;
    left: 428px;
    position: absolute;
    top: 100px;
    width: 105px;
    display: none;

    @media(max-height: $screen-sm-height) {
        top: 80px;
    }
}


h2 {
    min-width:215px;
    display: table;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    color: $primary-color;
    border: 4px solid $primary-color;
}

.errors {
    list-style:none;
    padding-left:0;
    
}
.errors li {
    list-style:none;
    padding-left:0;
    font-size:12px;
    color:#d95a49;
}

h3 {
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
    padding:0px;
}

#main_container {
    position:absolute;

    margin-top: 140px;
    width: 100%;
    padding: 0;

    @media(max-height: $screen-sm-height) {
        margin-top: 55px;

    }
    @media(max-width: $screen-sm-min) {
        margin-top: 55px;
    }
    
}

#main_container section.section {   

    width: 100%;

    padding-bottom:20px;
    padding-top:20px;


    .inner-content { 
        margin: 0 auto;
        p.text {
            line-height: 28px;
        }
    }

    @media(max-height: $screen-sm-height) {
        padding-top: $menu-height - 20px;

    }
    @media(max-width: $screen-sm-min) {
        padding-top: 30px;

    }

}
section.section-gray {

    background-color: #ebebeb;
    border-bottom: 5px solid #cecece;
}

/* Slide Navigation */



.slidesjs-navigation {
    @include vv-hide-text(32px, 32px);
    position: absolute;
}
    
.slidesjs-previous {
    @include bg-norepeat("modal_prev_btn.png");
}
.slidesjs-next {
    @include bg-norepeat("modal_next_btn.png");
}

.slidesjs-pagination {
    margin: 20px auto 0;
    list-style: none;
    padding: 0;
    position:relative;

    li {
        float: left;
        margin: 0 1px;
        a {
            display: block;
            width: 13px;
            height: 0;
            padding-top: 13px;
            @include bg-norepeat("pagination.png", 0 0);
            float: left;
            overflow: hidden;
            &.active, &:hover.active {
                background-position: 0 -13px;
            }
            &:hover {
                background-position: 0 -26px;
            }
        }
    }
}


/* Where We Are */

#map-canvas {
    width: 100%;
    height: 400px;
    border:6px solid white;
    margin-bottom:40px;
}


/* Contact Form */

.contact {
    padding:0px;
}
.form-field {
    border:none;
    background-color: #e8e8e8;
    margin-top:10px;
    margin-bottom:10px;


}

    .name {
        height:50px;
        width:90%;
    }
    .text {
        resize:none;
        width:90%;
    }


.form-button {
    color: white;
    padding:10px;
    background:#d6d6d6;
    border:0px;
    margin:0px;
}

.contact {
    padding:0px;
}
.contact-item {
    margin-top:10px;
    margin-bottom:10px;
    width:400px;
    float:left;   
}

.contact-image {
    margin-right:10px;
    float:left;
    width:64px;
    height:100px;
  
}
.contact-text {
    position:relative;
}

#email {
    margin-top:20px;
}
#phone {
    margin-top:20px;

}

