
html * {
    font-family: "Montserrat", sans-serif;
    color: $texts-color;
    font-size: 16px;
}


body {
    overflow: hidden;
    &.mobile {
        height: auto;
    }
}

ul.nav {
    list-style: none;
    padding: 0;
    li {
        float: left;
    }
}

/* Preloader */
#preloader {
    position: fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color:#fff;
    z-index: $zindex-modal + 1;

    #status {
        width:200px;
        height:200px;
        position:absolute;
        left:50%; /* centers the loading animation horizontally one the screen */
        top:50%; /* centers the loading animation vertically one the screen */
        background-image:url(../img/status.gif); /* path to your loading animation */
        background-repeat:no-repeat;
        background-position:center;
        margin:-100px 0 0 -100px; /* is width and height divided by two */
    }
}

.intro-container {
    padding-top:30px;
    padding-bottom:30px;
    width:80%;
    margin:auto;

}



#main-menu {
    position:fixed;
    width: 100%;
    background-color: #f4f4f4;
    z-index: $zindex-modal - 1;
    border: none;
    .logo {
        display: block;
        margin: 20px;
        width: 300px;
        float: left;
        @media(max-height: $screen-sm-height) {
            margin: 10px 20px;
        }
        @media(max-width: $screen-sm-min) {
            width: 145px;
            margin: 25px 8px 10px;
            img {
                width: 145px;
            }            
        }
    }
    .language-btn {
        float: right;
        margin: 35px 30px 0 0;
        border: 2px solid $primary-color;
        padding: 10px;
        font-size: 10px;
        text-transform: uppercase;
        color: $primary-color;
        &:hover {
            background-color: $primary-color;
            color: #FFFFFF;
            text-decoration: none;
        }
        @media(max-width: $screen-sm-min) {
            float: left;
            margin: 25px 5px 0 20px;
        }
    }
    .menu-container {
        width: 100%;
        background-color: $primary-color;
        border-bottom: 2px solid $secondary-color;
    }
    .navbar-toggle {
        margin-top: 25px;
    }
    ul.nav {
        border-left: 2px solid $secondary-color;
        width: 642px;
        margin: 0 auto;
        height: 40px;
        position: relative;
        z-index: 2;
        float: none;
        li {
            text-transform: uppercase;
            border-right: 2px solid $secondary-color;
            a {
                color: white;
                font-size: 12px;
                text-decoration: none;
                display: block;
                height: 40px;
                padding: 13px 16px 0;
                position: static;
            }
        }
    }
    li.newsfeed img{
        vertical-align: text-top;
    }

    .in, .collapsing {
        width: 100%;
        height: auto;
        ul {
            width: 100%;
            height: auto;
            border: none !important;
        }
        li {
            width: 100%;
            border: none !important;
            a:hover, a.active {
                background-color: $secondary-color;
            }
        }
        #menu_marker {
            display: none !important;
        }
    }
}


#menu_marker {
    background-color: $secondary-color;
    height: 40px;
    left: 428px;
    position: absolute;
    top: 100px;
    width: 105px;
    display: none;

    @media(max-height: $screen-sm-height) {
        top: 80px;
    }
}


h2 {
    display: table;
    width: 210px;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    color: $primary-color;
    border: 4px solid $primary-color;
}

h3 {
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    margin-top: 0px;
    padding:0px;
}

#main_container {
    position:absolute;
    top:180px;
    margin-top: -20px;
    width: 100%;
    padding: 0;
}

#main_container section.section {    
    width: 100%;

    padding-bottom:40px;
    padding-top:40px;

    overflow: auto;
    .inner-content { 
        margin: 0 auto;
        p.text {
            line-height: 28px;
        }
    }
    /*
    @media(max-height: $screen-sm-height) {
        padding-top: $menu-height - 20px;
    }
    @media(max-width: $screen-sm-min) {
        padding-top: 30px;
    }
    */
}
section.section-gray {

    background-color: #ebebeb;
    border-bottom: 5px solid #cecece;
}

/* Slide Navigation */

.slidesjs-navigation {
    @include vv-hide-text(32px, 32px);
    position: absolute;
}
    
.slidesjs-previous {
    @include bg-norepeat("modal_prev_btn.png");
}
.slidesjs-next {
    @include bg-norepeat("modal_next_btn.png");
}

.slidesjs-pagination {
    margin: 6px auto 0;
    list-style: none;
    padding: 0;
    position:relative;
    top:-80px;
    li {
        float: left;
        margin: 0 1px;
        a {
            display: block;
            width: 13px;
            height: 0;
            padding-top: 13px;
            @include bg-norepeat("pagination.png", 0 0);
            float: left;
            overflow: hidden;
            &.active, &:hover.active {
                background-position: 0 -13px;
            }
            &:hover {
                background-position: 0 -26px;
            }
        }
    }
}

/* Contact Form */

.form-field {
    border:none;
    background-color: #fafafa;

}


