
html * {
    font-family: "Montserrat", sans-serif;
    color: $texts-color;
    font-size: 16px;
}

ul.nav {
    list-style: none;
    padding: 0;
    li {
        float: left;
    }
}

h2 {
    display: table;
    width: 210px;
    padding: 15px;
    text-align: center;
    margin: 20px auto;
    font-size: 30px;
    color: $primary-color;
    border: 4px solid $primary-color;
}

h3 {
    font-weight: normal;
    font-size: 22px;
    text-align: center;
    margin-top: 40px;
}

#main_container {
    margin: 0;
    width: 100%;
    padding: 0;
}
#main_container section.section {
    padding: 40px 0;
    width: 100%;
    height: 95%;
    overflow: auto;
    padding-top: $menu-height;
    .inner-content {
        margin: 0 auto;
    }
}
section.section-gray {
    background-color: #ebebeb;
    border-bottom: 5px solid #cecece;
}

/* Slide Navigation */

.slidesjs-navigation {
    width: 32px;
    height: 32px;
    display: block;
    @include hide-text;
    position: absolute;
}
    
.slidesjs-previous {
    @include bg-norepeat("modal_prev_btn.png");
}
.slidesjs-next {
    @include bg-norepeat("modal_next_btn.png");
}

