

/* MEGABANNER */

#section-megabanner {
    padding: 0 0 100px 0 !important;
    margin-top: 0 !important;

    .megabanner-container {

        margin-top: $menu-height;
        width: auto;

        @media(max-height: $screen-sm-height) {
            margin-top: $menu-height - 20px;
        }
        @media(max-width: $screen-sm-min) {
            margin-top: 75px;
        }
        body.mobile & {
            margin-top: 0;
        }

    }
    .slidesjs-container {
        margin-bottom: 20px;
        overflow: visible !important;
    }
    #megabanners {
        display: none;
    }
    .megabanner-image {
        height: 100%;
        overflow: hidden;
        img {
            width: 100%;
            // @extend .img-responsive;
        }
    }
    .megabanner-nav {

        z-index: 99;
        padding: 0px 0 0px;

        width: 100% !important;
        a#home-arrow-dn {
            display: block;
            width: 34px;
            margin: 0 auto;
        }
    }
}

#section-megabanner .slidesjs-pagination {
    z-index: 100;

}

#fixed-headline {
    width:60%;

    font-size:26px !important;
    left:50%;
    margin-left: auto;
    margin-right: auto;
    text-align:center;

}
.megabanners {
    h3 {
        display: block;
        position: absolute;
        bottom: 0;
        margin: 0;
        width: 100%;
        background-color: #fff;
        padding: 0px 0;
    }
}