
.gallery-modal {
    h3 {
        color: $primary-color;
        margin-top: 0;
    }
    .modal-dialog {
        margin-top: $menu-height + 10px;
        z-index: $zindex-modal + 1;
        body.mobile & {
            margin-top: 10px;
        }
    }
    .slidesjs-container {
        max-height: 570px;
    }
    .slides {
        .slidesjs-slide {
            max-width: 100%;
            img {
                @extend .img-responsive;
                margin: 0 auto;
            }
            span.subtitle {
                display: block;
                text-align: center;
                margin: 10px 0;
            }
        }
        img.slidesjs-slide {
            @extend .img-responsive;
            margin: 0 auto;
        }
    }

    .slidesjs-navigation {
        z-index: 10;
        @media(max-width: $screen-md-min) {
            margin-top: -200px;
        }
        @media(min-width: $screen-md-min) {
            margin-top: -260px;
        }
        @media(min-width: $screen-lg-min) {
            margin-top: -300px;
        }        
    }
        
    .slidesjs-previous {
        left: 220px;
        @media(max-width: $screen-md-min) {
            left: 30px;
        }
        @media(min-width: $screen-md-min) {
            left: 30px;
        }
    }
    .slidesjs-next {
        right: 220px;
        @media(max-width: $screen-md-min) {
            right: 30px;
        }
        @media(min-width: $screen-md-min) {
            right: 30px;
        }
    }
}

.modal-lg {
    /* Small devices (tablets, 768px and up) */
    @media(max-width: $screen-md-min) {
        width: 95%;
    }

    /* Medium devices (desktops, 992px and up) */
    @media(min-width: $screen-md-min) {
        width: 900px;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media(min-width: $screen-lg-min) {
        width: 1170px;
    }
 }
      
.modal-backdrop {
    background-color: #FFFFFF;
    &.in {
        opacity: 0;
    }
}

.modal-header {
    border-bottom: none;
    .close {
        @include bg-norepeat("close_btn.png", 0 0);
        @include vv-hide-text(32px, 32px);
        opacity: 1;
        z-index: 10;
        position: relative;
    }
}
