
.gallery-modal {
    h3 {
        color: $primary-color;
        margin-top: 0;
    }
    .modal-dialog {
        margin-top: $menu-height + 100px;
    }
    .slidesjs-container {
        max-height: 570px;
    }
    .slides {
        .slidesjs-slide {
            img {
                @extend .img-responsive;
                margin: 0 auto;
            }
            span.subtitle {
                display: block;
                text-align: center;
                margin: 10px 0;
            }
        }
    }
    .slidesjs-pagination {
        margin: 6px auto 0;
        list-style: none;
        padding: 0;
        li {
            float: left;
            margin: 0 1px;
            a {
                display: block;
                width: 13px;
                height: 0;
                padding-top: 13px;
                @include bg-norepeat("pagination.png", 0 0);
                float: left;
                overflow: hidden;
                &.active, &:hover.active {
                    background-position: 0 -13px;
                }
                &:hover {
                    background-position: 0 -26px;
                }
            }
        }
    }
    .slidesjs-navigation {
        z-index: 10;
        @media(max-width: $screen-md-min) {
            margin-top: -200px;
        }
        @media(min-width: $screen-md-min) {
            margin-top: -260px;
        }
        @media(min-width: $screen-lg-min) {
            margin-top: -300px;
        }        
    }
        
    .slidesjs-previous {
        left: 220px;
        @media(max-width: $screen-md-min) {
            left: 30px;
        }
        @media(min-width: $screen-md-min) {
            left: 30px;
        }
    }
    .slidesjs-next {
        right: 220px;
        @media(max-width: $screen-md-min) {
            right: 30px;
        }
        @media(min-width: $screen-md-min) {
            right: 30px;
        }
    }
}

.modal-lg {
    /* Small devices (tablets, 768px and up) */
    @media(max-width: $screen-md-min) {
        width: 700px;
    }

    /* Medium devices (desktops, 992px and up) */
    @media(min-width: $screen-md-min) {
        width: 900px;
    }

    /* Large devices (large desktops, 1200px and up) */
    @media(min-width: $screen-lg-min) {
        width: 1170px;
    }
 }
      
.modal-backdrop {
    background-color: #FFFFFF;
    &.in {
        opacity: 0;
    }
}

.modal-header {
    border-bottom: none;
    .close {
        @include bg-norepeat("close_btn.png", 0 0);
        @include hide-text(32px, 32px);
        opacity: 1;
        z-index: 10;
        position: relative;
    }
}