
div.feed {

	border-bottom: 1px solid $primary-color;
	margin: 0 20px;
	padding-bottom: 20px;

	&.last {
		border-bottom: none;
	}

	h4 {
		text-align: left;
		font-size: 18px;
		text-transform: uppercase;
		@include bg-norepeat("newsfeed/newsfeed_title_bg.png", 0 5px);
		padding-left: 22px;
		a {
			color: $primary-color;
		}
	}

	ul {
		margin-left: 0;
		padding-left: 0;
		list-style: none;
		li {
			margin-bottom: 4px;
			a {
				font-size: 14px;
			}
		}
	}
}