
.project {

    width: 276px;
    a {
        text-decoration: none;
    }
    .plus-icon {
        position: absolute;
        width: 260px;
        height: 160px;
        margin: 8px;
        @include bg-norepeat("projects/plus_icon.png", center);
        z-index: 213;
    }
    .hover {
        position: absolute;
        width: 260px;
        height: 160px;
        margin: 8px;
    }
    a:hover .hover {
        background-color: #FF0000;
        opacity: .5;
    }
}

.projects {
    margin-top:30px;

}

.modal-body {
    padding:0px !important;
}
.project-image {
    background-color: #FFFFFF;
    padding: 8px;
}
.project h4 {
    text-align: center;
    margin-top: 5px;
    font-weight: normal;
    font-size: 15px;
}
a#home-arrow-dn {
    display: block;
    width: 34px;
    margin: 0 auto;
}

/* modal projects */
#show-project {
    h3 {
        color: $texts-color;
        text-align: left;
        margin: 25px 0 0;
    }
}