/* SOLUTIONS */

.solutions-row {
    .solution-image {
        img {
            display: block;
            width:140px;
            margin: 0 auto;
        }
    }
    h4 { 
        color: $primary-color;
        text-align: center;
        font-weight: 400;
        font-size: 17px;
        width: 200px;
        margin: 15px auto 0;
        min-height: 60px;
    }
    p {
        color: transparentize($texts-color, 0.4);
        text-align: center;
        font-size: 14px;
        line-height: 20px;
        padding: 0 30px;
        margin: 0 0 15px;
    }
    a.solution-plus {
        @include bg-norepeat("solutions/plus-btn.gif", center left);
        @include vv-hide-text(33px, 35px);
        margin: 0 auto;
        &:hover {
            background-position: center right;
        }
    }
}


#show-solution {
    .modal-content {
        background-color: #d4d4d4;
    }

    #solution-description {
        text-align: center;
        margin-top: 15px;
    }
}